.r_ev_c_content {
    width: 700px;
    height:100%;
    top: 0;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: gainsboro;
}

.r_ev_c_brokerUri,
.r_ev_c_agentId,
.r_ev_c_agentPwd,
.r_ev_c_tenantId {
    float: right;
    width: 450px;
    height: 20px;
}

.r_ev_c_connect_button {
    width: 70px;
    height: 35px;
    float: right;
    background-color: lightgreen;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.r_ev_c_connect_button:hover {
    cursor: pointer;
}
